 


<div class="dropdown custom">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{userDetail.name}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu custom">
        <li (click)="Logout()"> Logout </li> 
    </ul>
</div> 


 
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Author
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li id="all" (click)="onChange('all')">All Data</li>
        <li *ngFor="let data of allData" id="{{ data.author.id}}" [routerLink]="['/quotes/author', data.author.name]">{{ data.author.name }} </li> 
    </ul>
</div> 
  
<div class="row" *ngIf="!showAuthorBlock">
   <div class="item" *ngFor="let data of allData">  
        <div class="panel panel-primary">  
            <div class="panel-body">
                <p> {{data.quote}}</p> 
                <h5 [routerLink]="['/quotes/author', data.author.name]"> {{ data.author.name }} </h5>     
                    
                <div class="row">                  
                    <span class="well"> {{ data.topics }}</span>  
                </div>  
            
                <div class="count-section">
                <div class="col-md-4 col-sm-4 col-xs-4"> <span>{{ data.likeCount }}</span></div>
                <div class="col-md-4 col-sm-4 col-xs-4"> <span>{{ data.shareCount }}</span></div>
                <div class="col-md-4 col-sm-4 col-xs-4"> <span>{{ data.viewCount }}</span></div>
                </div>   
                        
                <div class="clearfix"></div>
                <div class="row">    
                <div class="col-md-12 text-center"> 
                    <button [routerLink]="['/quotes/', data.author.id]"  class="btn btn-custom" type="button" title="View Details">Details</button>
                </div>    
                </div>
            </div> 
        </div>  
   </div>
</div>


<div class="row"  *ngIf="showAuthorBlock">
   <div class="item"  *ngFor="let pushData of PushData">  
        <div class="panel panel-primary" *ngIf="pushData">  
            <div class="panel-body">
                <p> {{pushData.quote}}</p> 
                <h5> {{ pushData.author.name }} </h5>     
                    
                <div class="row">                  
                    <span class="well"> {{ pushData.topics }}</span>  
                </div>  
            
                <div class="count-section">
                <div class="col-md-4 col-sm-4 col-xs-4"> <span>{{ pushData.likeCount }}</span></div>
                <div class="col-md-4 col-sm-4 col-xs-4"> <span>{{ pushData.shareCount }}</span></div>
                <div class="col-md-4 col-sm-4 col-xs-4"> <span>{{ pushData.viewCount }}</span></div>
                </div>   
                        
                <div class="clearfix"></div>
                <div class="row">    
                <div class="col-md-12 text-center"> 
                    <button [routerLink]="['/quotes/', pushData.author.id]"  class="btn btn-custom" type="button" title="View Details">Details</button>
                </div>    
                </div>
            </div> 
        </div>  
   </div>
</div>